[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
string_gen = { editable = true, path = "." }

[dev-packages]
pytest = "==9.0.2"
pytest-cov = "==7.0.0"
ruff = "==0.14.10"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"

[scripts]
tests = "pytest ./tests"
format = "ruff format"
check = "ruff check --fix"
